@{
    ViewBag.Title = "These Scores are High";
}

<h2>High Scores</h2>
<ul>
    <li>
        <a href="@Url.Action("BattleShip", "HighScores")">BattleShip</a>

    </li>
    <li>
        <a href="@Url.Action("DragonSlayer", "HighScores")">DragonSlayer</a>

    </li>
    <li>
        <a href="@Url.Action("DragonSlayerV2", "HighScores")">DragonSlayerV2</a>

    </li>
    <li>
        <a href="@Url.Action("GuessThatNumber", "HighScores")">GuessThatNumber</a>
    </li>
    <li>
        <a href="@Url.Action("Hangman", "HighScores")">Hangman</a>

    </li>
    <li>
        <a href="@Url.Action("Trivia", "HighScores")">Trivia</a>
    </li>
</ul>